<ion-view view-title="TxMeter">
  <ion-content>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-cash"></i>
         Recorrido
        <span class="item-note">
          $0.0
        </span>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-clock"></i>
          Unidades
        <span class="item-note">
          17
        </span>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-cash"></i>
          Unidades
        <span class="item-note">
          $0.0
        </span>
      </a>
      <a class="item item-icon-right assertive" href="#">
        <i class="icon ion-play"></i>
        Iniciar recorrido
      </a>

    </div>
  </ion-content>
</ion-view>
