<ion-view view-title="TxMeter">
  <ion-content>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-car"></i>
         Recorrido
        <span class="item-note">
          {{metros | number:0}} m
        </span>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-clock"></i>
          Unidades
        <span class="item-note">
          {{unidades | number:0}}
        </span>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-cash"></i>
          Costo Carrera
        <span class="item-note">
          $ {{valor | number:1}}
        </span>
      </a>
      <a ng-class="!run ? 'item item-icon-right balanced' : 'item item-icon-right assertive'" ng-click='StartStop()'>
        <i class="icon ion-play"></i>
        {{msg}}
      </a>

    </div>
  </ion-content>
</ion-view>
